
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                        href="{{url('category')}}" data-bs-toggle="dropdown">Shop By Categories <i class='bx bx-chevron-down'></i></a>
                    <div class="dropdown-menu dropdown-large-menu">
                        {{-- <div class="row"> --}}
                            {{-- <div class="col"> --}}
                                {{-- <h6 class="large-menu-title">Fashion</h6> --}}
                                <ul class="hcategory">                                        
                                </ul>
                                <ul>
                                    <li><a href="{{url('category')}}">Show More</a></li>
                                </ul>
                            {{-- </div> --}}
                            <!-- end col-3 -->
                        {{-- </div> --}}
                        <!-- end row -->
                    </div>
                    <!-- dropdown-large.// -->
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                        href="{{url('brands')}}" data-bs-toggle="dropdown">Shop By Brands <i
                            class='bx bx-chevron-down'></i></a>
                    <div class="dropdown-menu dropdown-large-menu">
                        {{-- <h6 class="large-menu-title">Fashion</h6> --}}
                        <ul class="hbrand">
                        </ul>
                        <ul>
                            <li><a href="{{url('brands')}}">Show More</a></li>
                        </ul>
                    </div>
                    <!-- dropdown-large.// -->
                </li>